flake8==3.7.9
Flask==1.1.1
Flask-SocketIO==4.2.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
pytest==4.0.1
pytest-cov==2.6.0
pytest-cover==3.0.0
pytest-coverage==0.0
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.4
python-engineio==3.11.1
python-socketio==4.4.0
requests==2.22.0
